<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Layout</title>
  <link rel="stylesheet" href="css/estilos.css">
</head>
<body>
  <div class="contenedor">
    <header>
      <nav>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Acerca de</a></li>
          <li><a href="#">Productos</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </nav>
    </header>

    <section class="main">
      <div class="imagen">
        <img src="img/bg.jpg" alt="">
      </div>

      <div class="posts">
        <article>
          <h2>Titulo de mu articulo</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam officia, ea. Aliquid atque, delectus non molestias culpa illum quasi aliquam. Nulla a officia, vero deserunt nihil aperiam mollitia voluptatem, expedita? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore neque, quidem excepturi, vel blanditiis modi repudiandae autem! Vel assumenda eum sit inventore, nesciunt, minus et sapiente, dolor sunt nulla rem.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi vitae esse quo qui, totam fugit explicabo reiciendis iure, atque amet, cumque ut earum et nesciunt molestias. Necessitatibus nostrum placeat architecto. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur minima fugit vero sequi amet voluptate atque excepturi eaque earum fuga. Commodi eius ipsam libero tenetur quidem, modi totam atque autem?</p>
        </article>
      </div>
    </section>

    <aside>
      <div class="widget">
        <h3 class="titulo">Articulos destacados</h3>
        <ul>
          <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></li>
          <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></li>
          <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></li>
          <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></li>
          <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></li>
        </ul>
      </div>

      <div class="widget">
        <h3 class="titulo">Informacion</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas suscipit quam commodi distinctio, dolorem in voluptate neque officiis voluptatibus necessitatibus. Unde reiciendis, nobis fugit repudiandae blanditiis repellendus et est, officiis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis possimus libero, quibusdam voluptatem sed rerum odio cumque itaque consectetur dolores ratione sapiente, magni magnam mollitia dolorem officia est nihil eaque.</p>
      </div>
    </aside>

    <footer>
      Lorem ipsum dolor. | Lorem ipsum.
    </footer>
  </div>
</body>
</html>