* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background: #4A465B;
}

.contenedor {
    width: 1000px;
    margin: 20px auto;
    overflow: hidden;
}

header {
    background: #FFFFFF;
}

header nav {
    width: 100%;
}

header nav ul {
    width: 100%;
    overflow: hidden;
    list-style: none;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
    color: #000000;
}

header nav ul li a:hover {
    background: #000000;
    color: #FFFFFF;
}

.main {
    width: 700px;
    background: #FFFFFF;
    float: left;
}

.main .imagen {
    width: 100%;
}

.main .imagen img {
    width: 100%;
    vertical-align: top;
}

.main .posts {
    padding: 40px;
}

.main .posts article h2 {
    margin-bottom: 20px;
    color: #424242;
}

.main .posts article p {
    margin-bottom: 15px;
    line-height: 27px;
}

aside {
    width: 300px;
    background: #161F26;
    padding: 20px;
    color: #FFFFFF;
    float: left;
}

aside .widget {
    margin-bottom: 20px;
}

aside .widget .titulo {
    color: #FF8000;
    border-bottom: 1px solid #FF8000;
    margin-bottom: 10px;
}

aside .widget ul li {
    list-style: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px 0;
}

aside .widget ul li a {
    color: #FFFFFF;
    text-decoration: none;
}

aside .widget ul li a:hover {
    color: #8F8F8F;
}

aside .widget p {
    line-height: 27px;
}

footer {
    width: 700px;
    /*overflow: hidden;*/
    clear: both;
    background: #000000;
    color: #FFFFFF;
    padding: 15px 0;
    text-align: center;
}