/*VARIABLES DE COLOR*/

$blanco: #FFFFFF;
$negro: #000000;
$cafe:  #281A0C;
$gris:  #676767;

/*VARIABLES DE COLOR*/

@import "_generales";
@import "_header";
@import "_main";
@import "_menu";
@import "_galeria";
@import "_ubicacion";
@import "_footer";
@import "_mediaquieries";